.container {
  display: flex;
  flex-direction: column;
}

.body {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px 20px 10px 20px;
  position: relative;
  margin-top: 100px;

  &::-webkit-scrollbar {
    display: none;
  }
}
.search_button {
  height: 30px;
  border-radius: 0;
  width: 55px;
  background: #E50914;
  border: #E50914;
}

.search-form {
  margin-top: 20px;
  margin-bottom: 30px;
  input {
    height: 30px;
    background-color: #181818;
    color: white;
  }
}

mat-paginator{
  background: #212121;
  color: #fff;
}

.container_search {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 20px;

  button {
    background-color: #181818;
    border: 0;
   }
}



