

h2 {
  color:white
}

.form-container {
  padding: 3.5em;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  align-items: center;

}

button {
  padding: 0.5em;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 1.3em;
}

.create-account-txt {
  text-align: center;
  display: block;
  margin: 15px 0;
}

.auth-btn {
  background: #E50914;
  color: white;
}

input.input-txt {
  background: #fff !important;
  padding: 0.5em 1em;
  font-size: 1.3em;
  border: 1px solid #BBBBBB;
  width: 100%;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color:#ECECEC;
}
